<ion-view title="Règle de vie">
  <ion-content padding="true" class="has-header" >

    <ion-nav-bar class="bar-stable bar-header bar-calm">
      <ion-nav-buttons>
        <a href="#/home" class="button button-icon button-clear ion-home" ></a>
      </ion-nav-buttons>
    </ion-nav-bar>

    <div class="spacer" style="height: 40px;"></div>


    <div class="item item-input" ng-controller="ReglesCtrl">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Insérer une nouvelle règle de vie" ng-model="data.nouvelle_regle">
      </label>
      <a class="button button-small button-energized" ng-click="ajouterRegle()">
        Ajouter
      </a>
    </div>

    <ion-list ng-controller="ColocListCtrl" show-delete="shouldShowDelete" show-reorder="shouldShowReorder" >
      <ion-item class="regle" ng-repeat="regle in coloc.regles " type="item-text-wrap">
          <div><p id="Numero-regle">{{regle.number}} :</p> <p id="Content-regle"> {{regle.content}}</p></div>

        <!-- <ion-delete-button class="ion-minus-circled" ng-click="colocataires.splice($index, 1)"></ion-delete-button> -->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
